{% comment %}
    Display an episode's timings and learning objectives.
{% endcomment %}
<blockquote class="overview">
  <h2>Overview</h2>

  <div class="row">
    <div class="col-md-2">
      <strong>Teaching:</strong> {% if page.teaching == null %} 0 {% else %} {{ page.teaching }} {% endif %} min
      <br/>
      <strong>Exercises:</strong> {% if page.exercises == null %} 0 {% else %} {{ page.exercises }} {% endif %} min
    </div>
    
  <div class="col-md-9">
  <!--     <strong>Questions</strong> -->
  <!--     <ul> -->
  <!--       {% for question in page.questions %} -->
  <!--       <li>{{ question|markdownify }}</li> -->
  <!--       {% endfor %} -->
  <!--     </ul> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div class="row"> -->
  <!--   <div class="col-md-2"> -->
  <!--   </div> -->
  <!--   <div class="col-md-9"> -->
      <strong>Learning Objectives</strong>
      <ul>
	{% for objective in page.objectives %}
	<li>{{ objective|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>

</blockquote>
