---
---

//----------------------------------------
// Colors.
//----------------------------------------

// branding
// $color-brand:       #2b3990 !default;

$nus-blue:          #003d7c !default;
$nus-orange:        #ef7c00 !default;
$nus-mix:           desaturate(lighten(mix($nus-blue,$nus-orange,30%),40%),100%);
$color-brand:       $nus-blue !default;
$color-system:      $nus-mix !default; 


// code boxes
$color-error:       #bd2c00 !default;
$color-output:      #303030 !default;
$color-source:      #6e5494 !default;

// blockquotes
$color-warning:     lighten($color-error,40%);
$color-callout:     lighten($nus-orange,20%) !default;
$color-challenge:   #eec275 !default;
$color-checklist:   #dfd2a0 !default;
$color-discussion:  #eec275 !default;
$color-idea:        $nus-orange !default; 

$color-keypoints:   $nus-orange !default;
$color-overview:  lighten(desaturate($nus-blue,50%),50%); 
$color-prereq:      $nus-mix !default;
$color-solution:    #ded4b9 !default;
$color-testimonial: #fc8dc1 !default;

//----------------------------------------
// Specialized code blocks.
//----------------------------------------

@mixin cdSetup($color) {
    color: $color;
    border-left: solid 5px $color;
    margin: 15px 0;
    border-radius: 4px 0 0 4px;
}

.warning  { @include cdSetup(darken($color-error,10%)); }
.idea  { @include cdSetup($nus-blue,); }
.error  { @include cdSetup($color-error); }
.output { @include cdSetup($color-output); }
.source { @include cdSetup($color-source); }

.bash, .language-bash     { @include cdSetup($color-source); }
.make, .language-make     { @include cdSetup($color-source); }
.matlab, .language-matlab { @include cdSetup($color-source); }
.python, .language-python { @include cdSetup($color-source); }
.r, .language-r           { @include cdSetup($color-source); }
.sql, .language-sql       { @include cdSetup($color-source); }

.error pre,
.output pre,
.source pre,
.bash pre,
.language-bash pre,
.make pre,
.language-make pre,
.matlab pre,
.language-matlab pre,
.python pre,
.language-python pre,
.r pre,
.language-r pre,
.sql pre ,
.language-sql pre {
  border-radius: 0 4px 4px 0;
}

//----------------------------------------
// Specialized blockquote environments for learning objectives, callouts, etc.
//----------------------------------------

$codeblock-padding: 5px !default;

@mixin bkSetup($color, $glyph) {

  $gradientcolor1: $color;
  $gradientcolor2: scale-color($color, $lightness: 100%);

  padding-left: $codeblock-padding;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: 1px solid;
  border-color: darken($color,30%);
  border-radius: p0x;
  padding-bottom: $codeblock-padding;

  margin: 15px 0;

  h2 {
    padding-top: $codeblock-padding;
    padding-bottom: $codeblock-padding;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border: 0px solid;
    background: linear-gradient(to bottom, $gradientcolor1, $gradientcolor2);
    border-color: $color;
    margin-top: 0px;
    margin-left: -$codeblock-padding; // to move back to the left margin of the enclosing blockquote
  }
  h2:before {
//    font-family: 'Glyphicons Halflings';
    font-family: FontAwesome;
    content: $glyph;
    float: left;
    padding-left: $codeblock-padding;
    padding-right: $codeblock-padding;
    display: inline-block;
    //    -webkit-font-smoothing: antialiased;
  }

}

.warning, blockquote .warning{ @include bkSetup($color-warning, "\f071"); }
.idea, blockquote .idea{ @include bkSetup($color-idea, "\f0eb"); }
.system, blockquote .system { @include bkSetup($color-system, "\f108"); }
.linux, blockquote .linux { @include bkSetup($color-system, "\f17c"); }
.osx, blockquote .osx { @include bkSetup($color-system, "\f179"); }
.windows, blockquote .windows { @include bkSetup($color-system, "\f17a"); }
.callout{ @include bkSetup($color-callout, "\f08d"); }
.challenge{ @include bkSetup($color-challenge, "\f044"); }
.checklist{ @include bkSetup($color-checklist, "\f14a"); }
.discussion{ @include bkSetup($color-discussion, "\f086"); }
.keypoints{ @include bkSetup($color-keypoints, "\f084"); }
.overview{ @include bkSetup($color-overview, "\f279"); }
.prereq{ @include bkSetup($color-prereq, "\f022"); }

.solution{ @include bkSetup($color-solution, "\f06e"); }
.testimonial{ @include bkSetup($color-testimonial, "\f004"); }

.callout h3,
.challenge h3,
.checklist h3,
.discussion h3,
.keypoints h3,
.overview h3,
.prereq h3,
.solution h3,
.testimonial h3 {
font-size: 18px;
}

blockquote p {
    margin: 5px;
}

//----------------------------------------
// Override Bootstrap settings.
//----------------------------------------

code {
  white-space: nowrap;
  padding: 2px 5px;
  color: #3d90d9;
  background-color: #e7e7e7;
}

article img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

article h2 {
  margin: 48px 0 16px;
  border-bottom: solid 1px #eaecef;
  padding-bottom: 0.3em;
  line-height: 1.25;
}

article h3 { margin: 40px 0 16px; }

//----------------------------------------
// Miscellaneous.
//----------------------------------------

.figures h2 { margin-top: 100px; }

.title, .maintitle {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: $nus-blue;

}

.footertext {
  text-align: center;
}

footer .copyright,
footer .help-links
{
    font-size: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}


$bgDefault   : $nus-blue;
$bgHighlight : $nus-blue;
$colDefault  : #FFFFFF;
$colHighlight: $nus-orange;

.container-fluid, navbar-default, .navbar, .navbar-collapse, .navbar-brand {
  background-color: $bgDefault;
  border-color: #FFFFFF;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}


img.navbar-logo {
  height: 40px; // synchronize with height of navbar
  padding-top: 5px;
  padding-right: 10px;
}

div.branding {
  color: nus-blue;
}

ul,
ol {
  padding-left: 2em;
}

span.fold-unfold {
  margin-left: 1em;
  opacity: 0.5;
}


//----------------------------------------
// Life cycle box
//----------------------------------------

div.life-cycle {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: -1px;
    border-radius: 0;
}

.pre-alpha {
    color: #a94442;
    background: #f2dede;
}

.alpha {
    color: #8a6d3b;
    background: #fcf8e3;
}

.beta {
    color: #31708f;
    background: #d9edf7;
}


//----------------------------------------
// keyboard key style, from StackExchange.
//----------------------------------------

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: "Roboto", Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
    font-style: normal;
}



.monospace {
  font-family: Lucida Console, Courier, monospace;
}

body {
    font-size: 12pt;
    font-family: "Roboto", sans-serif;
}
